/examples-java/nbproject/private/
/examples-java/build/
/examples-java/dist/
/examples-android/gen/
/test/gen/
/test/bin/
/examples-android/bin/
/asteroids/nbproject/private/
/asteroids/build/
/asteroids/dist/
/puzzles/nbproject/private/
/puzzles/build/
/TicTacTie/nbproject/private/
/TicTacTie/build/
/tetris/nbproject/private/
/tetris/build/
/platformer/nbproject/private/
/platformer/build/
/platformer/dist/
/tetris/dist/